.formulaire-contact
{
    justify-content: center;
    align-items: center;

}
.bouton-color{
    display: flex !important;
width: 198px !important;
height: 55px !important;
justify-content: center !important;
align-items: center !important;
}
