input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  
  .number-input {
    display: inline-flex;
    flex-direction: row;
  }
.number-input button {
    align-items: center;
    justify-content: center;
    position: relative;
}
  
.number-input button:before,
.number-input button:after {
    display: inline-block;
    position: absolute;
    content: '';
    width: 1rem;
    height: 2px;
    background-color: #FFFFFF;
    transform: translate(-50%, -50%);
  }
.number-input button.plus:after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
  
.number-input input[type=number] {
    font-family: sans-serif;
    max-width: 5rem;
    padding-left: 5px;
    font-weight: bold;
    text-align: center;
    color:#FFFFFF;
    color: #333;
    font-size: 24px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-weight: 400;
  }
.ordre-boite
  {
    display: inline-flex;
    flex-direction: column;
  }
.plus
  {
    border-top-right-radius: 10px;
    background-color: #DC9F96;
    border-bottom: 1px solid;
      
  }
.moins
  {                         
    border-bottom-right-radius: 10px;
    background-color: #DC9F96; 
  }